*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

main{
    height: calc(100vh - 90px);
    background-color: burlywood;
}

main::after{
    content: "";
    display: table;
    clear: both;
}

/* NAVBAR LATERALE */
.nav-aside{
    height: 100%;
    width: 230px;
    background-color: #000;
    float: left;
}

/* NAV LATERALE TOP */

.nav-aside-top .logo{
    padding: 20px;
}

.nav-aside-top .logo img{
    height: 40px;
}

.nav-aside-top .menu-aside{
    list-style: none;
}

.nav-aside-top .menu-aside li{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.overlay{
    position: absolute;
}

.menu-aside li .overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

.menu-aside li:hover .overlay{
    display: none;
}

.menu-aside li.active .overlay{
    width: 20%;
    background-color: rgba(0,0,0,0.2);
}

.title{
    margin: 15px 0;
    font-weight: 700;
}


.menu-aside-top li{
    padding: 5px 7px;
    border-left: 3px solid #000;
}

.menu-aside-top li img{
    height: 25px;
    padding: 0 10px;
}


.menu-aside-top li.active{
    border-left: 3px solid #adff2f;
    color: #fff;
}

.menu-aside-bot{
    margin-left:20px;
}

.menu-aside-bot .playlist{
    height: calc(100vh - 410px);
    min-height: 160px;
    overflow-y: auto;
}

.menu-aside-bot .playlist li{
    margin-bottom: 25px;
    overflow: auto;
}

.menu-aside-bot .playlist li.add-playlist::before{
    font-family: "Font Awesome 5 Free";
    content: '\f067';
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin-right: 10px;
}
/* NAV LATERALE TOP */

/* NAVBAR LATERALE */


#content{
    float: left;
    width: calc(100% - 230px);
    height: 100%;
}
.upgrade-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 90px;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    padding:20px;
    z-index: 999;
    
}
.upgrade-button{
    color: white;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 15px 40px;
    cursor: pointer;
}
.upgrade-button:focus{
    outline: none;
}
.upgrade-button:hover{
    transform: scale(1.1);
}
footer{
    height: 90px;
    background-color: #282828;
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
}