/* GLOBAL */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.overlay{
    position: absolute;
}
.title{
    margin: 15px 0;
    font-weight: 700;
}

/* /GLOBAL */

/* MAIN */
main{
    height: calc(100vh - 90px);
    background-color: burlywood;
}

main::after{
    content: "";
    display: table;
    clear: both;
}

/* NAVBAR LATERALE */
.nav-aside{
    height: 100%;
    width: 230px;
    padding: 0 20px;
    background-color: #000;
    float: left;
    font-size: 12px;
    font-weight: 600;
    overflow-y: hidden;
}

/* NAV LATERALE TOP */

.nav-aside-top .logo{
    padding: 20px 0;
}

.nav-aside-top .logo img{
    height: 40px;
}

.nav-aside-top .logo-small{
    display: none;
    padding: 5px 10px;
}
.nav-aside-top .logo-small img{
   height: 30px;
}

.nav-aside-top .menu-aside{
    list-style: none; 
}

.nav-aside-top .menu-aside li{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.menu-aside li .overlay, .nav-aside-bot .install .overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}

.menu-aside li:hover .overlay, .nav-aside-bot .install:hover .overlay{
    display: none;
}

.menu-aside li.active .overlay{
    width: 25px;
}

.menu-aside-top li{
    padding: 5px 0;   
}

.menu-aside-top li img{
    height: 25px;
    padding-right:10px;
}


.menu-aside-top li.active::after{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    height: 100%;
    width: 3px;
    background-color: #adff2f;
}

.menu-aside-bot{
    overflow: hidden;
}

.menu-aside-bot .playlist{
    height: calc(100vh - 463px);
    min-height: 100px;
    margin-top: 25px;
    overflow-y: auto;
}

.menu-aside-bot .playlist li{
    margin-bottom: 25px;
}

.menu-aside-bot li.add-playlist::before{
    font-family: "Font Awesome 5 Free";
    content: '\f067';
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin-right: 10px;
}
/* /NAV LATERALE TOP */

/* NAV LATERALE BOT */
.nav-aside-bot{
    height: 80px;
}
.nav-aside-bot .install{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #282828;
}
.nav-aside-bot .install img{
    height: 15px;
    margin-right: 10px;
}
.nav-aside-bot .my-profile{
    padding-top: 15px;
    display: flex;
    align-items: center;
}
.nav-aside-bot .my-profile .icon-profile{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #808080;
    background-image: url(../img/profile.svg);
    background-position: center;
    border-radius: 50px;
    margin-right: 10px;
}
/* /NAV LATERALE BOT */

/* /NAVBAR LATERALE */

/* SEZIONE CONTENT */

#content{
    float: left;
    width: calc(100% - 230px);
    height: 100%;
}
.upgrade-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 90px;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    padding:20px;
    z-index: 999;
    
}
.upgrade-button{
    color: white;
    font-weight: 600;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 15px 40px;
    cursor: pointer;
}
.upgrade-button:focus{
    outline: none;
}
.upgrade-button:hover{
    transform: scale(1.1);
}
/* /SEZIONE CONTENT */

/* /MAIN */

/* FOOTER */
footer{
    height: 90px;
    background-color: #282828;
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* /FOOTER */

/* MEDIA QUERY */

@media (max-width:600px) {
   /*  NAV LATERALE */
    .nav-aside{
        width: 50px;
        padding: 0;
    }
    .nav-aside-top{
        height: calc(100vh - 170px);
        min-height: 160px;
    }
    .nav-aside-top .logo{
        display: none;
    }
    .nav-aside-top .logo-small{
        display: block;
    }
    .menu-aside-top li{
        padding: 5px 0;
        border: none;
        display: flex;
        justify-content: center;
    }
    
    .menu-aside li.active .overlay{
        width: 100%;
       
    }
    .menu-aside-top li img{
        padding: 0;
    }
    .menu-aside-top span{
        display: none;
    }
    .menu-aside-bot{
        display: none;
    }
    
    .nav-aside-bot .install{
        justify-content: center;
        border: none;
    }
    .nav-aside-bot .install img{
        margin: 0;
    }
    .nav-aside-bot .my-profile{
        display: flex;
        justify-content: center;
    }
    .nav-aside-bot .my-profile .icon-profile{
        margin: 0;
    }
    .nav-aside-bot span{
        display: none;
    }
/*  /NAV LATERALE */
    .upgrade-bar{
        width: calc(100% - 50px);
    }
}